* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-size: 62.5%;
    color: $color-primary;
    font-family: Lato, helvetica neue, Helvetica, Arial, sans-serif;
    background-color: $color-white;
    padding: 40px 0 0;
    border-top: 5px solid rgba(0, 0, 0, .05);   
}