.container {
    width: 92.5%;
    height: 100%;
    margin: 0 auto;

    .main {
        padding: 3.2rem 4.8rem;
        width: 70%;
        float: left;
        height: auto;
        background-color: white;
        overflow: auto;
        -webkit-box-shadow: 18px -14px 39px -20px rgba(0,0,0,0.75);
        -moz-box-shadow: 18px -14px 39px -20px rgba(0,0,0,0.75);
        box-shadow: 18px -14px 39px -20px rgba(0,0,0,0.75);

        .post-avatar {
            width: 3rem;
            height: 3rem;
            float: right;
            border-radius: 5rem;
        }
        
        .content-subhead {
            text-transform: uppercase;
            font-size: 0.8rem;
            color:#aaa;
            font-family: sans-serif;
            border-bottom: 1px solid #eee;
            padding: 0.4rem 0;
            font-weight: 500;
            letter-spacing: 0.1rem;
            margin-bottom: 1rem;
        }
        
        .post-title {
            font-size: 2rem;
            color: #222;
            margin-bottom: 0.2rem;

            a {
                color: #222;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
        
        .post-meta {
            color: #999;
            font-size: 0.9rem;
        
            .post-author {
                text-decoration: none;
                color: #3D92C9;
        
                &:hover {
                    text-decoration: underline;
                }
            }
        
            time {
                font-style: italic;
            }
        
            .post-category {
                @include pill-category;
            }
        
            .js {
                background-color: #C16517;
            }
        
            .css {
                background-color: #36438D;
            }

            .dom {
                background-color: green;
            }
        }
        
        .post-description {
            margin: 1.6rem 0;
            color: #444;
            font-family: Georgia, 'Cambria', serif;
            font-size: 1rem;
            line-height: 1.8em;
        }
    }

}

@media all and (max-width: 1024px) {
    .container {
        width: 100%;

        .main {
            overflow: visible;
            width: 100%;
            padding: 1rem;

            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }
    }
}